/* Question.css */
.options-container {
    text-align: left;
  }
  
  

  /* Question.css */
.options-container {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5); /* 使用 RGBA 表示半透明的白色背景 */
  padding: 10px; /* 增加填充以提高可讀性 */
}

/* Question.css */
.options-container input[type="radio"] {
  transform: scale(2); /* 調整 radio 按鈕的大小 */
  margin-right: 15px; /* 增加右邊距，使 radio 按鈕與標籤之間有一定間距 */
}
.options-container.checkbox-container input[type="checkbox"] {
  transform: scale(2); /* 調整 checkbox 的大小 */
  margin-right: 15px; /* 增加右邊距，使 checkbox 與標籤之間有一定間距 */
}

.options-container {
  display: flex;
  flex-wrap: wrap; /* 在 PC 端設置選項水平排列 */
}

.option-item {
  margin-right: 20px; /* 選項之間的間距 */
}

/* 手機板上的樣式 */
@media (max-width: 768px) {
  .options-container {
    flex-direction: column; /* 在手機板上設置選項垂直排列 */
  }

  .option-item {
    margin-right: 0; /* 手機板上去除選項之間的間距 */
    margin-bottom: 10px; /* 手機板上增加選項之間的垂直間距 */
  }
}

/*滑軌*/
.options-container.range-container {
  display: flex;
  align-items: center;
}

.options-container.range-container input[type="range"] {
  width: 100%; /* 讓滑軌填滿容器寬度 */
  margin-right: 10px; /* 增加右邊距，使得滑軌與數值標籤之間有一定間距 */
}

.options-container.range-container span {
  font-size: 25px; /* 設定數值標籤字體大小 */
  width: 30px; /* 調整數值標籤容器寬度 */
  text-align: center; /* 文字置中 */
}
/*滑軌*/

.video-container {
  margin: 20px auto;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.video-container video {
  display: block;
  width: 100%;
  height: auto;
}

.video-description {
  padding: 15px;
  background-color: #f8f9fa;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  color: #333;
}