.App-header {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 將 header 分為兩部分 */
}

.question-section {
  padding: 20px;
}
.ai-progress-section {
  background-color: rgba(0, 123, 255, 0.5); /* 使用淺藍色並設置透明度 */
  padding: 20px;
  border-radius: 20px; /* 增加圓角 */
  color: white; /* 白色文字 */
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 100%; /* 圖片的最大寬度為其容器的100% */
  height: auto; /* 讓圖片高度自動調整，保持原始比例 */
}

/* Custom Modal Styles */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFC587;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 300px;
}

.modal-buttons {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .custom-modal {
    max-width: 50%;
    width: 500px;
  }
}
/* Custom Modal Styles */